@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-clr-dark: 43 43 43;
    --tw-clr-light: 236 236 236;
    --tw-clr-accent-peach: 241 0 130;
    --tw-clr-accent-grape: 151 0 222;
    --tw-clr-secondary: 221 221 221;
  }

  ::selection {
    background-color: rgba(var(--tw-clr-accent-peach) / 0.2);
  }

  /* #region  /**=========== Default Typography =========== */
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h2 {
    @apply text-xl font-bold md:text-2xl;
  }
  h3 {
    @apply text-lg font-bold md:text-xl;
  }
  h4 {
    @apply text-base font-bold md:text-lg;
  }
  body {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Default Typography =========== */
}
